<!--footer-->
<footer>
  <nav class="navbar fixed-bottom" style="background-color: #0c457d;">
    
      <h6 class="footer-text">&copy; Copyright 2024. All rights reserved.</h6>
    </nav>
  </footer>
</body>
</html>
